In [33]:
import pandas as pd
import numpy as np  
from matplotlib import pyplot as plt

In [34]:
import pandas as pd
import numpy as np  
from matplotlib import pyplot as plt
df = pd.read_csv('Data/Miami_Accidents.csv')
df.head()
df.columns
columns_to_drop = ['Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight', 'Weather_Timestamp', 'Airport_Code', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
        'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
        'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Source', 'Unnamed: 0', "State", "City"]
df.drop(columns=columns_to_drop, inplace=True)
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset
0,A-116064,2,2016-11-30 16:40:31,2016-11-30 17:10:19,25.627699,-80.374451,NaN,NaN,0.01,Accident on FL-992 152nd St at Lincoln Blvd.,...,False,False,False,False,False,True,False,True,False,Day
1,A-116067,2,2016-11-30 15:16:19,2016-11-30 17:01:03,25.963093,-80.185677,NaN,NaN,0.01,Left turn lane blocked due to accident on FL-8...,...,False,False,False,False,False,False,False,True,False,Day
2,A-116068,2,2016-11-30 16:55:31,2016-11-30 17:25:11,25.841373,-80.322037,NaN,NaN,0.01,Queueing traffic due to accident on FL-826 Pal...,...,False,False,False,False,False,False,False,False,False,Day
3,A-116069,3,2016-11-30 16:57:23,2016-11-30 17:27:10,25.812199,-80.205856,NaN,NaN,0.01,Accident on I-95 Southbound at Exits 4 4B FL-1...,...,False,False,False,False,False,False,False,False,False,Day
4,A-116071,2,2016-11-30 17:15:52,2016-11-30 17:45:36,25.781235,-80.337181,NaN,NaN,0.01,Queueing traffic due to accident on FL-836 Dol...,...,False,False,False,False,False,False,False,False,False,Day

In [35]:
df.dtypes

Unnamed: 0                 int64
ID                        object
Source                    object
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Street                    object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [36]:
df.columns

Index(['Unnamed: 0', 'ID', 'Source', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Street', 'City', 'County', 'State', 'Zipcode',
       'Country', 'Timezone', 'Bump', 'Crossing', 'Give_Way', 'Junction',
       'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop',
       'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset'],
      dtype='object')

In [37]:
df['Temperature(F)'].describe()

count    184685.000000
mean         78.469392
std           7.590235
min         -58.000000
25%          75.000000
50%          79.000000
75%          84.000000
max         109.000000
Name: Temperature(F), dtype: float64

In [38]:
df_with_non_numeric_features = df.select_dtypes(include=['object'])
df_with_non_numeric_features.columns

Index(['ID', 'Source', 'Start_Time', 'End_Time', 'Description', 'Street',
       'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Wind_Direction',
       'Weather_Condition', 'Sunrise_Sunset', 'Civil_Twilight',
       'Nautical_Twilight', 'Astronomical_Twilight'],
      dtype='object')

In [39]:
df['City'].value_counts()

City
Miami    186917
Name: count, dtype: int64

In [40]:
df['State'].value_counts()

State
FL    186768
AZ       141
OK         4
NM         2
OH         1
WV         1
Name: count, dtype: int64

In [41]:
df = df[df['State'] == 'FL']

In [42]:
df['County'].value_counts()

County
Miami-Dade    186760
Broward            8
Name: count, dtype: int64

In [43]:
df = df[df['County'] == 'Miami-Dade']

In [44]:
df['County'].value_counts()

County
Miami-Dade    186760
Name: count, dtype: int64

In [45]:
df['Start_Time'] = pd.to_datetime(df['Start_Time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [46]:
df['End_Time'] = pd.to_datetime(df['Start_Time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [47]:
df.isna().sum()[df.isna().sum()>0]

Start_Time           30353
End_Time             30353
End_Lat              33465
End_Lng              33465
Street                 201
Timezone                 1
Airport_Code             1
Weather_Timestamp      492
Temperature(F)        2205
Wind_Chill(F)        27215
Humidity(%)           2389
Pressure(in)           574
Visibility(mi)        1782
Wind_Direction        1637
Wind_Speed(mph)       4134
Precipitation(in)    21669
Weather_Condition     1555
dtype: int64

In [48]:
# Dropping huge amount of missing data for Time
df = df.dropna(subset = ['Start_Time']).reset_index(drop = True)

In [49]:
df.isna().sum()[df.isna().sum()>0]

End_Lat              33465
End_Lng              33465
Street                 151
Timezone                 1
Airport_Code             1
Weather_Timestamp      407
Temperature(F)        1888
Wind_Chill(F)        26833
Humidity(%)           2061
Pressure(in)           479
Visibility(mi)        1460
Wind_Direction        1298
Wind_Speed(mph)       3795
Precipitation(in)    21584
Weather_Condition     1226
dtype: int64

In [50]:
# Dropping all the row data with End_Lat
df = df.dropna(subset = ['End_Lat']).reset_index(drop = True)

In [ ]:
# Missing start and end times or start latitude and end longitude make the data less informative and actionable. 
# It hampers the ability to analyze and derive insights from the dataset effectively.
# Missing start and end times or start latitude and end longitude significantly reduce the usefulness 
# and reliability of the dataset, especially in contexts like car accidents where temporal and spatial 
# information is crucial for analysis and decision-making.

In [51]:
df.isna().sum()[df.isna().sum()>0]

Street                137
Timezone                1
Airport_Code            1
Weather_Timestamp     338
Temperature(F)       1550
Wind_Chill(F)        9632
Humidity(%)          1671
Pressure(in)          377
Visibility(mi)       1256
Wind_Direction       1151
Wind_Speed(mph)      1862
Precipitation(in)    6968
Weather_Condition    1045
dtype: int64

In [52]:
df.shape

(122942, 47)

In [53]:
# Dropping rows with little NaN

In [54]:
df = df.dropna(subset = ['Street']).reset_index(drop = True)

In [55]:
df = df.dropna(subset = ['Timezone']).reset_index(drop = True)

In [56]:
df = df.dropna(subset = ['Airport_Code']).reset_index(drop = True)

In [57]:
df = df.dropna(subset = ['Pressure(in)']).reset_index(drop = True)

In [58]:
# The following useful columns with many NaN values will be filled with the mean to avoid dropping more data
df['Temperature(F)'].fillna(df['Temperature(F)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_15500\3541851716.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Temperature(F)'].fillna(df['Temperature(F)'].mean(), inplace=True)

In [59]:
df['Wind_Chill(F)'].fillna(df['Wind_Chill(F)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_15500\2119085980.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wind_Chill(F)'].fillna(df['Wind_Chill(F)'].mean(), inplace=True)

In [60]:
df['Precipitation(in)'].fillna(df['Precipitation(in)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_15500\3101885415.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Precipitation(in)'].fillna(df['Precipitation(in)'].mean(), inplace=True)

In [61]:
df['Wind_Speed(mph)'].fillna(df['Wind_Speed(mph)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_15500\3966286156.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wind_Speed(mph)'].fillna(df['Wind_Speed(mph)'].mean(), inplace=True)

In [62]:
df['Humidity(%)'].fillna(df['Humidity(%)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_15500\4275028072.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Humidity(%)'].fillna(df['Humidity(%)'].mean(), inplace=True)

In [63]:
df['Visibility(mi)'].fillna(df['Visibility(mi)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_15500\3688051799.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Visibility(mi)'].fillna(df['Visibility(mi)'].mean(), inplace=True)

In [64]:
# Mode Imputation. Filling NaN values with the most common value
df['Weather_Condition'].fillna(df['Weather_Condition'].mode()[0], inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_15500\4076273199.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weather_Condition'].fillna(df['Weather_Condition'].mode()[0], inplace=True)

In [65]:
df['Wind_Direction'].fillna(df['Wind_Direction'].mode()[0], inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_15500\495439393.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wind_Direction'].fillna(df['Wind_Direction'].mode()[0], inplace=True)

In [66]:
# There shouldn't be more missing data in the dataset
df.isna().sum()[df.isna().sum()>0]

Series([], dtype: int64)

In [67]:
# Check final size
df.shape

(122428, 47)

In [72]:
# Getting rid of Outliers
!pip install scipy
from scipy.stats import zscore

[notice] A new release of pip available: 22.3 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting scipy
  Downloading scipy-1.12.0-cp311-cp311-win_amd64.whl (46.2 MB)
     --------------------------------------- 46.2/46.2 MB 22.6 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in c:\users\luis delgado\appdata\local\programs\python\python311\lib\site-packages (from scipy) (1.26.4)
Installing collected packages: scipy
Successfully installed scipy-1.12.0

In [73]:
features_considered = ['Temperature(F)', 'Visibility(mi)', 'Pressure(in)', 'Precipitation(in)', 'Humidity(%)', 'Wind_Chill(F)', 'Wind_Speed(mph)']
z_scores = zscore(df[features_considered], nan_policy='omit')

In [74]:
z_scores.head()

,Temperature(F),Visibility(mi),Pressure(in),Precipitation(in),Humidity(%),Wind_Chill(F),Wind_Speed(mph)
0,-0.057131,0.212910,-0.696241,-2.431265e-17,0.465712,0.0,4.350862e-01
1,-0.057131,0.212910,-0.388510,-2.431265e-17,0.465712,0.0,-9.556509e-01
2,-0.616499,0.212910,-0.388510,-1.302496e-01,1.655153,0.0,3.580356e-16
3,-0.469998,-2.884257,-0.491087,-2.431265e-17,1.725120,0.0,-1.177363e+00
4,-0.203632,0.212910,-0.183356,-2.431265e-17,1.445251,0.0,3.580356e-16

In [76]:
# convert to absolute values
abs_z_scores = np.abs(z_scores)
# filter based on |z-score| less than 3
filtered_entries = (abs_z_scores < 3).all(axis=1)

In [77]:
filtered_entries

0         True
1         True
2         True
3         True
4         True
          ...
122423    True
122424    True
122425    True
122426    True
122427    True
Length: 122428, dtype: bool

In [78]:
print("Outliers present in the dataset")
df.loc[filtered_entries == False]

Outliers present in the dataset

,Unnamed: 0,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
70,3437968,A-3447851,Source1,3,2016-12-08 07:07:05,2016-12-08 07:07:05,25.844400,-80.206670,25.865180,-80.208210,...,False,False,False,False,False,False,Day,Day,Day,Day
71,3438023,A-3447906,Source1,2,2016-12-08 09:25:55,2016-12-08 09:25:55,25.780840,-80.199890,25.798780,-80.205380,...,False,False,False,False,False,False,Day,Day,Day,Day
73,3438185,A-3448068,Source1,2,2016-12-08 15:56:08,2016-12-08 15:56:08,25.679730,-80.388750,25.691820,-80.388550,...,False,False,False,False,False,False,Day,Day,Day,Day
95,3438799,A-3448682,Source1,2,2016-12-10 09:30:33,2016-12-10 09:30:33,25.903540,-80.210270,25.895060,-80.209740,...,False,False,False,False,False,False,Day,Day,Day,Day
96,3438803,A-3448686,Source1,2,2016-12-10 09:30:33,2016-12-10 09:30:33,25.844400,-80.206670,25.851680,-80.207780,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122293,7717807,A-7767175,Source1,4,2019-08-01 05:43:44,2019-08-01 05:43:44,25.949511,-80.182727,26.043400,-80.162880,...,False,False,False,False,False,False,Night,Night,Night,Day
122308,7718389,A-7767757,Source1,3,2019-08-02 04:11:26,2019-08-02 04:11:26,25.940610,-80.190460,25.946880,-80.185370,...,False,False,False,False,False,False,Night,Night,Night,Night
122343,7721244,A-7770612,Source1,3,2019-08-08 15:33:34,2019-08-08 15:33:34,25.845730,-80.322470,25.837800,-80.322220,...,False,False,False,False,False,False,Day,Day,Day,Day
122370,7723334,A-7772702,Source1,2,2019-08-13 20:43:04,2019-08-13 20:43:04,25.963640,-80.149540,25.963640,-80.149540,...,False,False,False,False,True,False,Night,Night,Day,Day
122376,7723893,A-7773261,Source1,3,2019-08-14 13:05:47,2019-08-14 13:05:47,25.781091,-80.172207,25.781091,-80.172207,...,False,False,False,False,False,False,Day,Day,Day,Day

In [79]:
# Printing total rows after removing outliers
df_without_outliers = df[filtered_entries]
print('Number of rows after filtering outliers', len(df_without_outliers))
df_without_outliers.head()

Number of rows after filtering outliers 115957

,Unnamed: 0,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,3435331,A-3445214,Source1,2,2016-11-30 16:35:52,2016-11-30 16:35:52,25.78601,-80.25809,25.78336,-80.26911,...,False,False,False,False,False,False,Day,Day,Day,Day
1,3435399,A-3445282,Source1,2,2016-11-30 18:35:52,2016-11-30 18:35:52,25.66214,-80.38860,25.65292,-80.38712,...,False,False,False,False,False,False,Night,Night,Night,Day
2,3435476,A-3445359,Source1,2,2016-12-01 05:51:51,2016-12-01 05:51:51,25.97053,-80.16576,25.95995,-80.16870,...,False,False,False,False,False,False,Night,Night,Night,Day
3,3435477,A-3445360,Source1,3,2016-12-01 06:03:23,2016-12-01 06:03:23,25.78447,-80.29346,25.78488,-80.28444,...,False,False,False,False,False,False,Night,Night,Day,Day
4,3435561,A-3445444,Source1,2,2016-12-01 08:21:46,2016-12-01 08:21:46,25.91310,-80.21024,25.90780,-80.21023,...,False,False,False,False,False,False,Day,Day,Day,Day

In [ ]:
df.to_csv("Data/Miami_Accidents(Clean).csv", index = False)