In [42]:
import pandas as pd
import numpy as np  
from matplotlib import pyplot as plt

In [43]:
df = pd.read_csv('Data/Miami_Accidents.csv')
df.head()
df.columns

Index(['Unnamed: 0', 'ID', 'Source', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Street', 'City', 'County', 'State', 'Zipcode',
       'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [44]:
df.dtypes

Unnamed: 0                 int64
ID                        object
Source                    object
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Street                    object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [45]:
df.columns

Index(['Unnamed: 0', 'ID', 'Source', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Street', 'City', 'County', 'State', 'Zipcode',
       'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [46]:
!python -m pip install pickleshare

Requirement already satisfied: pickleshare in c:\users\luis delgado\appdata\local\programs\python\python311\lib\site-packages (0.7.5)

[notice] A new release of pip available: 22.3 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [47]:
%store df

Stored 'df' (DataFrame)

C:\Users\Luis Delgado\AppData\Roaming\Python\Python311\site-packages\IPython\extensions\storemagic.py:229: UserWarning: using autorestore/df requires you to install the `pickleshare` library.
  db[ 'autorestore/' + arg ] = obj

In [48]:
df.columns

Index(['Unnamed: 0', 'ID', 'Source', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Street', 'City', 'County', 'State', 'Zipcode',
       'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [49]:
df_with_non_numeric_features = df.select_dtypes(include=['object'])
df_with_non_numeric_features.columns

Index(['ID', 'Source', 'Start_Time', 'End_Time', 'Description', 'Street',
       'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Wind_Direction',
       'Weather_Condition', 'Sunrise_Sunset', 'Civil_Twilight',
       'Nautical_Twilight', 'Astronomical_Twilight'],
      dtype='object')

In [50]:
df['County'].value_counts()

County
Miami-Dade    186760
Gila             117
Pinal             24
Broward            8
Ottawa             4
Colfax             2
Clermont           1
Kanawha            1
Name: count, dtype: int64

In [51]:
df = df[df['County'] == 'Miami-Dade']

In [52]:
df['County'].value_counts()

County
Miami-Dade    186760
Name: count, dtype: int64

In [53]:
columns_to_drop = ['Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight', 'Weather_Timestamp', 'Airport_Code', 'Wind_Direction', 'Amenity', 'Source', 'Unnamed: 0', "State", "City",
                   'County', 'Timezone', 'Country']
df.drop(columns=columns_to_drop, inplace=True)
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset
0,A-116064,2,2016-11-30 16:40:31,2016-11-30 17:10:19,25.627699,-80.374451,NaN,NaN,0.01,Accident on FL-992 152nd St at Lincoln Blvd.,...,False,False,False,False,False,True,False,True,False,Day
1,A-116067,2,2016-11-30 15:16:19,2016-11-30 17:01:03,25.963093,-80.185677,NaN,NaN,0.01,Left turn lane blocked due to accident on FL-8...,...,False,False,False,False,False,False,False,True,False,Day
2,A-116068,2,2016-11-30 16:55:31,2016-11-30 17:25:11,25.841373,-80.322037,NaN,NaN,0.01,Queueing traffic due to accident on FL-826 Pal...,...,False,False,False,False,False,False,False,False,False,Day
3,A-116069,3,2016-11-30 16:57:23,2016-11-30 17:27:10,25.812199,-80.205856,NaN,NaN,0.01,Accident on I-95 Southbound at Exits 4 4B FL-1...,...,False,False,False,False,False,False,False,False,False,Day
4,A-116071,2,2016-11-30 17:15:52,2016-11-30 17:45:36,25.781235,-80.337181,NaN,NaN,0.01,Queueing traffic due to accident on FL-836 Dol...,...,False,False,False,False,False,False,False,False,False,Day

In [54]:
df['Start_Time'] = pd.to_datetime(df['Start_Time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [55]:
df['End_Time'] = pd.to_datetime(df['Start_Time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [56]:
df.isna().sum()[df.isna().sum()>0]

Start_Time           30353
End_Time             30353
End_Lat              33465
End_Lng              33465
Street                 201
Temperature(F)        2205
Wind_Chill(F)        27215
Humidity(%)           2389
Pressure(in)           574
Visibility(mi)        1782
Wind_Speed(mph)       4134
Precipitation(in)    21669
Weather_Condition     1555
dtype: int64

In [57]:
# Dropping huge amount of missing data for Time
df = df.dropna(subset = ['Start_Time']).reset_index(drop = True)

In [58]:
df.isna().sum()[df.isna().sum()>0]

End_Lat              33465
End_Lng              33465
Street                 151
Temperature(F)        1888
Wind_Chill(F)        26833
Humidity(%)           2061
Pressure(in)           479
Visibility(mi)        1460
Wind_Speed(mph)       3795
Precipitation(in)    21584
Weather_Condition     1226
dtype: int64

In [59]:
# Dropping all the row data with End_Lat
df = df.dropna(subset = ['End_Lat']).reset_index(drop = True)

In [60]:
# Missing start and end times or start latitude and end longitude make the data less informative and actionable. 
# It hampers the ability to analyze and derive insights from the dataset effectively.
# Missing start and end times or start latitude and end longitude significantly reduce the usefulness 
# and reliability of the dataset, especially in contexts like car accidents where temporal and spatial 
# information is crucial for analysis and decision-making.

In [61]:
df.isna().sum()[df.isna().sum()>0]

Street                137
Temperature(F)       1550
Wind_Chill(F)        9632
Humidity(%)          1671
Pressure(in)          377
Visibility(mi)       1256
Wind_Speed(mph)      1862
Precipitation(in)    6968
Weather_Condition    1045
dtype: int64

In [62]:
df.shape

(122942, 33)

In [63]:
# Dropping rows with little NaN

In [64]:
df = df.dropna(subset = ['Street']).reset_index(drop = True)

In [65]:
df = df.dropna(subset = ['Pressure(in)']).reset_index(drop = True)

In [66]:
# The following useful columns with many NaN values will be filled with the mean to avoid dropping more data
df['Temperature(F)'].fillna(df['Temperature(F)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_24488\3541851716.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Temperature(F)'].fillna(df['Temperature(F)'].mean(), inplace=True)

In [67]:
df['Wind_Chill(F)'].fillna(df['Wind_Chill(F)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_24488\2119085980.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wind_Chill(F)'].fillna(df['Wind_Chill(F)'].mean(), inplace=True)

In [68]:
df['Precipitation(in)'].fillna(df['Precipitation(in)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_24488\3101885415.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Precipitation(in)'].fillna(df['Precipitation(in)'].mean(), inplace=True)

In [69]:
df['Wind_Speed(mph)'].fillna(df['Wind_Speed(mph)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_24488\3966286156.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wind_Speed(mph)'].fillna(df['Wind_Speed(mph)'].mean(), inplace=True)

In [70]:
df['Humidity(%)'].fillna(df['Humidity(%)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_24488\4275028072.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Humidity(%)'].fillna(df['Humidity(%)'].mean(), inplace=True)

In [71]:
df['Visibility(mi)'].fillna(df['Visibility(mi)'].mean(), inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_24488\3688051799.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Visibility(mi)'].fillna(df['Visibility(mi)'].mean(), inplace=True)

In [72]:
# Mode Imputation. Filling NaN values with the most common value
df['Weather_Condition'].fillna(df['Weather_Condition'].mode()[0], inplace=True)

C:\Users\Luis Delgado\AppData\Local\Temp\ipykernel_24488\4076273199.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weather_Condition'].fillna(df['Weather_Condition'].mode()[0], inplace=True)

In [73]:
# There shouldn't be more missing data in the dataset
df.isna().sum()[df.isna().sum()>0]

Series([], dtype: int64)

In [74]:
# Check final size
df.shape

(122428, 33)

In [75]:
# Getting rid of Outliers
!pip install scipy
from scipy.stats import zscore

Requirement already satisfied: scipy in c:\users\luis delgado\appdata\local\programs\python\python311\lib\site-packages (1.12.0)
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in c:\users\luis delgado\appdata\local\programs\python\python311\lib\site-packages (from scipy) (1.26.4)

[notice] A new release of pip available: 22.3 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [76]:
features_considered = ['Temperature(F)', 'Visibility(mi)', 'Pressure(in)', 'Precipitation(in)', 'Humidity(%)', 'Wind_Chill(F)', 'Wind_Speed(mph)']
z_scores = zscore(df[features_considered], nan_policy='omit')

In [77]:
z_scores.head()

,Temperature(F),Visibility(mi),Pressure(in),Precipitation(in),Humidity(%),Wind_Chill(F),Wind_Speed(mph)
0,-0.057131,0.212910,-0.696241,-2.431265e-17,0.465712,0.0,4.350862e-01
1,-0.057131,0.212910,-0.388510,-2.431265e-17,0.465712,0.0,-9.556509e-01
2,-0.616499,0.212910,-0.388510,-1.302496e-01,1.655153,0.0,3.580356e-16
3,-0.469998,-2.884257,-0.491087,-2.431265e-17,1.725120,0.0,-1.177363e+00
4,-0.203632,0.212910,-0.183356,-2.431265e-17,1.445251,0.0,3.580356e-16

In [78]:
# convert to absolute values
abs_z_scores = np.abs(z_scores)
# filter based on |z-score| less than 3
filtered_entries = (abs_z_scores < 3).all(axis=1)

In [79]:
filtered_entries

0         True
1         True
2         True
3         True
4         True
          ...
122423    True
122424    True
122425    True
122426    True
122427    True
Length: 122428, dtype: bool

In [80]:
print("Outliers present in the dataset")
df.loc[filtered_entries == False]

Outliers present in the dataset

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset
70,A-3447851,3,2016-12-08 07:07:05,2016-12-08 07:07:05,25.844400,-80.206670,25.865180,-80.208210,1.439,Between SR-934/79th St/Exit 7 and 95th St/Exit...,...,False,False,False,False,False,False,False,False,False,Day
71,A-3447906,2,2016-12-08 09:25:55,2016-12-08 09:25:55,25.780840,-80.199890,25.798780,-80.205380,1.286,At I-395/SR-836/Exit 2/Exit 3 - Accident.,...,True,False,False,False,False,False,False,False,False,Day
73,A-3448068,2,2016-12-08 15:56:08,2016-12-08 15:56:08,25.679730,-80.388750,25.691820,-80.388550,0.835,At SR-94/Kendall Dr/Exit 20 - Accident.,...,True,False,False,False,False,False,False,False,False,Day
95,A-3448682,2,2016-12-10 09:30:33,2016-12-10 09:30:33,25.903540,-80.210270,25.895060,-80.209740,0.587,At 135th St/Opa Locka Blvd/Exit 10 - Accident.,...,True,False,False,False,False,False,False,False,False,Day
96,A-3448686,2,2016-12-10 09:30:33,2016-12-10 09:30:33,25.844400,-80.206670,25.851680,-80.207780,0.508,At SR-934/79th St/Exit 7 - Accident.,...,False,False,False,False,False,False,False,False,False,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122293,A-7767175,4,2019-08-01 05:43:44,2019-08-01 05:43:44,25.949511,-80.182727,26.043400,-80.162880,6.603,Closed between SR-860/Miami Gardens Dr and I-9...,...,True,False,False,False,False,False,False,False,False,Night
122308,A-7767757,3,2019-08-02 04:11:26,2019-08-02 04:11:26,25.940610,-80.190460,25.946880,-80.185370,0.536,At SR-860/Miami Gardens Dr/Exit 14 - Accident.,...,True,False,False,False,False,False,False,False,False,Night
122343,A-7770612,3,2019-08-08 15:33:34,2019-08-08 15:33:34,25.845730,-80.322470,25.837800,-80.322220,0.548,At 74th St - Accident.,...,True,False,False,False,False,False,False,False,False,Day
122370,A-7772702,2,2019-08-13 20:43:04,2019-08-13 20:43:04,25.963640,-80.149540,25.963640,-80.149540,0.000,At 26th Ave - Accident.,...,False,False,False,False,False,False,False,True,False,Night
122376,A-7773261,3,2019-08-14 13:05:47,2019-08-14 13:05:47,25.781091,-80.172207,25.781091,-80.172207,0.000,At SR-A1A/5th St - Accident.,...,False,False,False,False,False,False,False,False,False,Day

In [81]:
# Printing total rows after removing outliers
df_without_outliers = df[filtered_entries]
print('Number of rows after filtering outliers', len(df_without_outliers))
df_without_outliers.head()

Number of rows after filtering outliers 115957

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset
0,A-3445214,2,2016-11-30 16:35:52,2016-11-30 16:35:52,25.78601,-80.25809,25.78336,-80.26911,0.710,At SR-953/42nd Ave/Le Jeune Rd - Accident.,...,False,False,False,False,False,False,False,False,False,Day
1,A-3445282,2,2016-11-30 18:35:52,2016-11-30 18:35:52,25.66214,-80.38860,25.65292,-80.38712,0.644,At 120th St/Exit 19 - Accident.,...,False,False,False,False,False,False,False,False,False,Night
2,A-3445359,2,2016-12-01 05:51:51,2016-12-01 05:51:51,25.97053,-80.16576,25.95995,-80.16870,0.753,At Ives Dairy Rd/203rd St/Exit 16 - Accident.,...,False,False,False,False,False,False,False,False,False,Night
3,A-3445360,3,2016-12-01 06:03:23,2016-12-01 06:03:23,25.78447,-80.29346,25.78488,-80.28444,0.562,At SR-959/Red Rd - Accident.,...,False,False,False,False,False,False,False,False,False,Night
4,A-3445444,2,2016-12-01 08:21:46,2016-12-01 08:21:46,25.91310,-80.21024,25.90780,-80.21023,0.366,At 151st St/Exit 11 - Accident.,...,False,False,False,False,False,False,False,False,False,Day

In [82]:
df.to_csv("Data/Miami_Accidents(Clean).csv", index = False)