In [1]:
import pandas as pd
import numpy as np  
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('Data/Miami_Accidents.csv')
df.head()
df.columns
columns_to_drop = ['Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight', 'Weather_Timestamp', 'Airport_Code', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
        'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
        'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Source', 'Unnamed: 0', "State", "City"]
df.drop(columns=columns_to_drop, inplace=True)

In [3]:
df

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset
0,A-116064,2,2016-11-30 16:40:31,2016-11-30 17:10:19,25.627699,-80.374451,NaN,NaN,0.010,Accident on FL-992 152nd St at Lincoln Blvd.,...,False,False,False,False,False,True,False,True,False,Day
1,A-116067,2,2016-11-30 15:16:19,2016-11-30 17:01:03,25.963093,-80.185677,NaN,NaN,0.010,Left turn lane blocked due to accident on FL-8...,...,False,False,False,False,False,False,False,True,False,Day
2,A-116068,2,2016-11-30 16:55:31,2016-11-30 17:25:11,25.841373,-80.322037,NaN,NaN,0.010,Queueing traffic due to accident on FL-826 Pal...,...,False,False,False,False,False,False,False,False,False,Day
3,A-116069,3,2016-11-30 16:57:23,2016-11-30 17:27:10,25.812199,-80.205856,NaN,NaN,0.010,Accident on I-95 Southbound at Exits 4 4B FL-1...,...,False,False,False,False,False,False,False,False,False,Day
4,A-116071,2,2016-11-30 17:15:52,2016-11-30 17:45:36,25.781235,-80.337181,NaN,NaN,0.010,Queueing traffic due to accident on FL-836 Dol...,...,False,False,False,False,False,False,False,False,False,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186912,A-7776983,2,2019-08-22 17:10:33,2019-08-22 17:38:17,25.707554,-80.285429,25.708083,-80.284736,0.057,At SR-959/Red Rd/57th Ave - Accident.,...,False,False,False,False,False,False,False,True,False,Day
186913,A-7776984,4,2019-08-22 17:12:48,2019-08-22 17:42:07,25.909390,-80.209870,25.912360,-80.209700,0.205,Ramp closed to 151st St/Exit 11 - Road closed ...,...,True,False,False,False,False,False,False,False,False,Day
186914,A-7777410,4,2019-08-23 02:01:46,2019-08-23 02:30:39,25.927371,-80.212694,25.927371,-80.212694,0.000,Ramp to SR-826/Florida's Tpke/R Reagan Tpke - ...,...,False,False,False,False,False,False,False,False,False,Night
186915,A-7777424,2,2019-08-23 13:08:31,2019-08-23 13:37:40,25.812250,-80.237460,25.812460,-80.243590,0.382,At SR-9/27th Ave/Unity Blvd - Accident. Right ...,...,True,False,False,False,False,False,False,False,False,Day
186916,A-7777440,4,2019-08-23 19:14:05,2019-08-23 19:43:39,25.935950,-80.199180,25.932061,-80.203819,0.394,Closed at US-441/Florida's Tpke/Exit 12 - Road...,...,False,False,False,False,False,False,False,False,False,Day

In [4]:
df.dtypes

ID                  object
Severity             int64
Start_Time          object
End_Time            object
Start_Lat          float64
Start_Lng          float64
End_Lat            float64
End_Lng            float64
Distance(mi)       float64
Description         object
Street              object
County              object
Zipcode             object
Country             object
Timezone            object
Bump                  bool
Crossing              bool
Give_Way              bool
Junction              bool
No_Exit               bool
Railway               bool
Roundabout            bool
Station               bool
Stop                  bool
Traffic_Calming       bool
Traffic_Signal        bool
Turning_Loop          bool
Sunrise_Sunset      object
dtype: object

In [5]:
!python -m pip install pickleshare

Requirement already satisfied: pickleshare in c:\users\juliana\appdata\local\programs\python\python312\lib\site-packages (0.7.5)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
%store df

Stored 'df' (DataFrame)

In [7]:
df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Street', 'County',
       'Zipcode', 'Country', 'Timezone', 'Bump', 'Crossing', 'Give_Way',
       'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop',
       'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset'],
      dtype='object')

In [8]:
df_with_non_numeric_features = df.select_dtypes(include=['object'])
df_with_non_numeric_features.columns

Index(['ID', 'Start_Time', 'End_Time', 'Description', 'Street', 'County',
       'Zipcode', 'Country', 'Timezone', 'Sunrise_Sunset'],
      dtype='object')

In [9]:
df['County'].value_counts()

County
Miami-Dade    186760
Gila             117
Pinal             24
Broward            8
Ottawa             4
Colfax             2
Clermont           1
Kanawha            1
Name: count, dtype: int64